<div class="glb-footer">
    <div class="container">
        <div class="wrapper">
            <div class=" glb-footer-logo">
                <div class="site-logo">
                    <img src="/assets/img/logo.png" alt="site-logo" width="150px" height="125px">
                </div>
            </div>
        </div>
        <div class="wrapper wrapper--flex">
            <div class="glb-footer-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <!-- Social Icons -->
            </div>
            <nav class="glb-footer-nav">
                <ul class="site-nav__list">
                    <li class="site-nav__item"><a class="site-nav__link" href="../components/header.html">About Us</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="../components/glb-nav.html">Experience</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="../components/footer.html">Contact Us</a></li>
                </ul>
                <ul class="site-nav__list">
                    <li class="site-nav__item"><a class="site-nav__link" href="../components/header.html">Building Name</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="../components/glb-nav.html">Address Line 1</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="../components/footer.html">Address Line 2</a></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="../components/footer.html">Postcode</a></li>
                </ul>
                <ul class="site-nav__list">
                    <li class="site-nav__item">Client Portal</li>
                    <li class="site-nav__item"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p></li>
                    <li class="site-nav__item"><a class="site-nav__link" href="../components/footer.html">Client Portal</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="glb-credits">
    <div class="wrapper">
        <p>Copyright reserved by Integral Facilities Management. 2019.</p>
    </div>
</div>
