<div class="glb-header {% if craft.request.getUrl() == siteUrl %}glb-header--floating{% else %}glb-header--solid{% endif %}">
    <div class="wrapper wrapper--flex">
        {% set siteLogo = "/assets/img/logo.svg" %}
        {% for image in company.logo.all() %}
            {% set siteLogo = image.url %}
        {% endfor %}
        <a href="/" class="site-logo">
            <img src="{{ siteLogo }}" alt="site-logo" width="150px" height="125px">
        </a>
        <nav class="glb-header-nav site-nav">
            <!-- Toggle open and closing side navigation -->
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="site-nav__list">
                {% for link in site.topNavigation.all() %}
                    {% set url = link.externalLink %}
                    {% set external = true %}

                    {% if link.internalLink.exists() %}
                        {% set external = false %}
                        {% for page in link.internalLink.all() %}
                            {% set url = page.url %}
                        {% endfor %}
                    {% endif %}

                    {% set entries = craft.entries.section('pages') %}
                    {% set slugs = craft.app.request.segments %}

                    <li class="site-nav__item">
                        <a href="{{ url }}" {% if external %}target="_blank"{% endif %} class="site-nav__link {% if entry.slug in url %}active{% else %}{% endif %}">{{ link.headline }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>

{% include '_partials/_mobilenav.twig' %}
