<h1>Feature Block</h1>

<div class="casestudy-block">
    <div class="casestudy-block__list">
        <div class="casestudy" style="background-image: url('https://placeimg.com/1000/480/nature');">
            <div class="casestudy__container">
                <div class="casestudy__content">
                    <h2 class="block-title--h2">Complex Facility Operations</h2>
                    <p class="par-text--s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="block__actions">
                        <button class="btn btn--p-solid">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
