<h1>Text Block with Sidebar</h1>

<div class="text-block">
    <div class="container">
        <div class="text-block__summary">
            <div class="wrapper">
                <h2 class="text-block__summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
            </div>
        </div>
        <div class="text-block__body wrapper wrapper--flex">
            <div class="text-block__content">
                <h3>This is a subtitle for your text</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="text-block__sidebar">
                <div class="bordered-image">
                    <img src="https://placeimg.com/350/275/nature" alt="sidebar image">
                    <caption>
                        <small>Image Title; by Whoever</small>
                    </caption>
                </div>
            </div>
        </div>
    </div>
</div>
