<h1>Brands Slider Block</h1>

<div class="brands-slider-block">
    <div class="brands-slider__container brands-carousel">
        <div class="brands-slider__item">
            <img src="https://placeimg.com/200/100/nature" class="brands-slider__logo">
        </div>
        <div class="brands-slider__item">
            <img src="https://placeimg.com/200/100/nature" class="brands-slider__logo">
        </div>
        <div class="brands-slider__item">
            <img src="https://placeimg.com/200/100/nature" class="brands-slider__logo">
        </div>
        <div class="brands-slider__item">
            <img src="https://placeimg.com/200/100/nature" class="brands-slider__logo">
        </div>
        <div class="brands-slider__item">
            <img src="https://placeimg.com/200/100/nature" class="brands-slider__logo">
        </div>
        <div class="brands-slider__item">
            <img src="https://placeimg.com/200/100/nature" class="brands-slider__logo">
        </div>
    </div>
</div>
