<div class="brands-slider-block">
    <div class="brands-slider__container brands-carousel">
        {% for brand in block.selectedItems %}
            {% if brand.level == "1" %}
                {# Brand Image Variables #}
                {% set brandImage = '/assets/img/nature.jpeg' %}
                {% for image in brand.image.all() %}
                    {% set brandImage = image.url %}
                {% endfor %}
                <div class="brands-slider__item">
                    <img src="{{ brandImage }}" class="brands-slider__logo">
                </div>
            {% endif %}
        {% endfor %}
        {% for brand in block.selectedItems %}
            {% if brand.level == "1" %}
                {# Brand Image Variables #}
                {% set brandImage = '/assets/img/nature.jpeg' %}
                {% for image in brand.image.all() %}
                    {% set brandImage = image.url %}
                {% endfor %}
                <div class="brands-slider__item">
                    <img src="{{ brandImage }}" class="brands-slider__logo">
                </div>
            {% endif %}
        {% endfor %}
        {% for brand in block.selectedItems %}
            {% if brand.level == "1" %}
                {# Brand Image Variables #}
                {% set brandImage = '/assets/img/nature.jpeg' %}
                {% for image in brand.image.all() %}
                    {% set brandImage = image.url %}
                {% endfor %}
                <div class="brands-slider__item">
                    <img src="{{ brandImage }}" class="brands-slider__logo">
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
