{# Hero Image Variables #}
{% set heroImage = '/assets/img/nature.jpeg' %}
{% if block.image %}
    {% for image in block.image.all() %}
        {% if heroImage == '' %}
            {% set heroImage = '/assets/img/nature.jpeg' %}
        {% else %}
            {% set heroImage = image.url %}
        {% endif %}
    {% endfor %}
{% endif %}

{# Homepage Banner and Internal Page Banners #}
<div class="banner banner--large" style="background-image: url('{{ heroImage }}');">
    <div class="banner__container">
        <div class="banner__text wrapper">
            <h2 class="banner__title banner__title--large">We provide a unique service to our clients.</h2>
        </div>
    </div>
</div>


{# <div class="banner" style="background-image: url('https://placeimg.com/1400/768/nature');">
    <div class="banner__container">
        <div class="banner__text wrapper">
            <h2 class="banner__title">We provide a unique service to our clients.</h2>
        </div>
    </div>
</div> #}

{# <section class="main-content">
    <div class="page-title">
        <div class="wrapper">
            <div class="page-title__container">
                <h3 class="page-title__title">About Us</h3>
            </div>
        </div>
    </div>
</section> #}
