<h1>Text Wrap Block for Homepage</h1>

<section class="text-block">
    <div class="container">
        <div class="wrapper wrapper--flex">
            <div class="text-block__content">
                <div class="subtitle">
                    <hr class="subtitle-dash">
                    <h4>subtitle</h4>
                </div>
                <h2 class="block-title--h2">This is a quick heading</h2>
                <div class="block__actions">
                    <button class="btn btn--s-solid item--margin-right">Read More</button>
                    <button class="btn btn--s-border">Contact Us</button>
                </div>
            </div>
            <div class="text-block__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</section>
