

<section class="services-block featured-services">
    <div class="wrapper">
        <ul class="cards">
            {% for service in block.service %}
                {# Headline #}
                    {% set headline = service.headline %}
                {# Summary #}
                    {% set summary = service.summary %}
                {# Link #}
                    {% set linkText = service.linkText %}
                    {% set url = service.pageLink %}
                <li class="cards__item">
                    <a href="{{ url }}" class="card">
                        <div class="card__content">
                            <div class="card__icon">
                                <span class="icon--arrow"></span>
                            </div>
                            <div class="card__title">{{ headline }}</div>
                            {% if summary %}
                                <div class="card__text" maxlength="2"><p>{{ summary }}</p></div>
                            {% else %}
                                <div class="card__text"><p>Content is coming soon to tell you how amazing this book is.</p></div>
                            {% endif %}
                        </div>
                        <div class="card__actions">
                            <div class="card__btn-text">{{ linkText }}</div>
                            <div class="card__btn"><span class="icon--arrow"></span></div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
