{% if block.headline %}
    <h2>{{ block.headline }}</h2>
{% endif %}

<div class="testimonial-block">
    <div class="container">
        <div class="testimonial-block__strip"></div>
        <div class="testimonial-slider__container wrapper">
            <div class="testimonial-slider__content testimonial-slider__slider">
                {% for testimonial in block.selectedItems %}
                    {% if testimonial.level == "1" %}
                        <div class="testimonial-slider__item">
                            {% if testimonial.quote %}
                                <p class="testimonial-slider__quote">{{ testimonial.quote }}</p>
                            {% endif %}
                            {% if testimonial.jobTitle %}
                                <h4 class="testimonial-slider__job">{{ testimonial.jobTitle }}</h4>
                            {% endif %}
                            {% if testimonial.companyName %}
                                <h3 class="testimonial-slider__company">{{ testimonial.companyName }}</h3>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
