{% if block.headline %}
    <h2>{{ block.headline }}</h2>
{% endif %}

<div class="text-block">
    {# <div class="container">
        {% if block.summary %}
            <div class="text-block__summary">
                <div class="wrapper">
                    <h2 class="text-block__summary">{{ block.summary }}</h2>
                </div>
            </div>
        {% endif %}
        <div class="text-block__body wrapper wrapper--flex">
            <div class="text-block__content">
                {% if block.subtitle %}<h3>{{ block.subtitle }}</h3>{% endif %}
                {% if block.contentText %}<p>{{ block.contentText }}</p>{% endif %}
            </div>
            <div class="text-block__sidebar">
                <div class="bordered-image">
                    <img src="https://placeimg.com/350/275/nature" alt="sidebar image">
                    <caption>
                        <small>Image Title; by Whoever</small>
                    </caption>
                </div>
            </div>
        </div>
    </div> #}
</div>
