<h1>Testimonial Slider Block</h1>

<div class="testimonial-block">
    <div class="container">
        <div class="testimonial-block__strip"></div>
        <div class="testimonial-slider__container wrapper">
            <div class="testimonial-slider__slider testimonial-slider__content">
                <div class="testimonial-slider__item">
                    <p class="testimonial-slider__quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h4 class="testimonial-slider__job">This is a subtitle for your text</h4>
                    <h3 class="testimonial-slider__company">This is a subtitle for your text</h3>
                </div>
            </div>
        </div>
    </div>
</div>
