{% if block.headline %}
    <h2>{{ block.headline }}</h2>
{% endif %}

<section class="casestudy-block">
    <div class="casestudy-block__list">
        {% for casestudy in block.selectedItems %}
            {% if casestudy.level == "1" %}
                <div class="casestudy" style="background-image: url('https://placeimg.com/1000/480/nature');">
                    <div class="wrapper">
                        <div class="casestudy__container">
                            <div class="casestudy__content">
                                <h2 class="block-title--h2">{{ casestudy.title }}</h2>
                                <p class="par-text--s">{{ casestudy.contentText }}</p>
                                <div class="block__actions">
                                    <a href="{{ casestudy.pageLink }}" class="btn btn--p-solid">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
