/* ==========================================================================
   Utilities
   ========================================================================== */

.container {
    padding-top: 50px;
    padding-bottom: 50px;

   @include mq(desk) {
       padding-top: 150px;
       padding-bottom: 150px;
   }

   &--no-top-pad {
       padding-top: 0;
   }
   &--no-bottom-pad {
       padding-bottom: 0;
   }
}
