/* ==========================================================================
   Body
   ========================================================================== */

    /*  */
    body,
    html {
    }

    ////////////////////////////////////////
    //////////////// Body //////////////////
    ////////////////////////////////////////

    *,
    *::before,
    *::after {
     box-sizing: border-box;
    }

    body {
       margin: 0;
       padding: 0;
       overflow: auto;
       /* box-sizing: border-box; */
    }

    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
