/* ==========================================================================
   Extra class names
   ========================================================================== */

/* H2 - EXTRA CLASS TO MAKE BIGGER */
.block-title--h2 {
   font-size: 36px;
   margin: 30px 0;
}

/* SUBTITLE - FOR ABOVE HEADINGS */

.subtitle {
    align-items: center;
    color: $p-colour;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    &-dash {
        border-radius: 2px;
        border: 1px solid $p-colour;
        margin: 0 20px 0 0;
        width: 20px;
    }
    h4 {
        margin: 0;
    }
}

/* BODY Text */
p {
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
}

.par-text--s {
   color: $s-colour;
}


/* 3rd Party Override */

.flickity-viewport {
    height: 100%;
}

.flickity-button {
    background: $s-colour !important;
    /* transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91); */
    box-shadow: 0px 0px 16px 4px rgba(47, 48, 49, 0.2);
}
.flickity-prev-next-button .flickity-button-icon {
    color: white !important;
    padding: 5px;
}
