/* ==========================================================================
   Grid
   ========================================================================== */

.flex-grid {
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;

   &__col {
       flex: 1;
       display: block;
   }

   &__item {
       flex-basis: 100px;
       flex-grow: 1;
   }
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;

    .col {
        position: relative;

        width: auto;
        flex-basis: 10%;
        flex: 1;

        &-m3 {
            margin: 0 0.5em;
        }
    }
}
