// ==========================================================================
// Custom resets
// ==========================================================================

button {
    border: 0;
    background: none;
    padding: 0;
    
    &:focus {
        outline: none;
    }
}

input {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
