/* Header SCSS */

.glb-header {
    width: 100%;

    .wrapper--flex {
        display: flex;
        align-items: center;
    }
}

.glb-header--floating {
    position: absolute;
    padding-top: 50px;
}

.glb-header--solid {
    background-color: #444;
    color: white;
    padding: 32px 0;
}

.glb-header a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}
