/* Site Nav: Header+Footer */
.site-nav {
    display: block;
    width: auto;
    max-width: 768px;
    padding-left: 50px;
    margin: 0 0 0 auto;
}

.site-nav__list {
    display: flex;
    text-align: left;
}

.site-nav__item {
    margin-left: 25px;
    margin-bottom: 10px;
    display: inline-block;
}

.site-nav__link {
    font-family: 'Source Sans Pro', sans-serif;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
