/* ==========================================================================
   Blocks
   ========================================================================== */

.block {
    max-width: 100%;
    width: 100%;
    position: relative;

    &__actions {
        display: flex;
        position: relative;
        margin-top: 30px;
    }
}
