.casestudy {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 500px;

    &__container {
        display: flex;
        align-items: center;
        vertical-align: middle;
        flex-direction: column;
        width: auto;
        max-width: 400px;
        background-color: gainsboro;
        height: auto;
        min-height: 500px;
        margin: 0 0 0 auto;
        position: relative;
    }
    &__content {
        display: block;
        padding: 50px;
        align-self: center;
        margin: auto 0;
    }
}
