/* ==========================================================================
   Hero Slider Block
   ========================================================================== */

.hero-slider {
    background: pink;
    height: 600px;
    position: relative;
}
