
.testimonial-block {
    width: 100%;
    position: relative;
    height: auto;
}

.testimonial-block__strip {
    height: 325px;
    background: #444;
    width: 100%;
    position: absolute;
    margin-top: 50px;
}

.testimonial-slider__quote {}
.testimonial-slider__job {}
.testimonial-slider__company {}

.testimonial-slider__container {
    background: gainsboro;
    border: 1px solid #888;
    height: 425px;
    position: relative;
}

.testimonial-slider__slider {
    position: relative;
}

.testimonial-slider__item {
    margin: 0 15%;
    padding: 75px 0;
    text-align: center;
    width: 100%;
    max-width: 768px;
}

.testimonial-slider__content {
    height: 100%;
    padding: 25px 75px;
}

.testimonial-slider__arrows {}
.testimonial-slider__icon {}
