
.text-block {
    background-color: white;
    &--bgsecondary {
        background-color: $s-colour;
    }
    &__list {
        padding: 30px 50px;
        border: 2px solid $p-colour;
    }
    &__item {
        line-height: 140%;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__sidebar {
        width: 350px;
        margin: 50px auto;
        @include mq(desk) {
            width: 25%;
            margin-left: 10%;
        }
    }
    &__body {
        padding-top: 30px;
    }
    &__content {
        min-width: 50%;
        width: auto;
        display: block;
        margin-top: 75px;
        &--large {
            @extend .text-block__content;
            width: 100%;
            margin-top: 0;
            @include mq(desk) {
                width: 65%;
            }
        }
        p {
            margin: 30px auto 0 auto;
            &:first-child {
                margin: 0 auto;
            }
        }
        @include mq(desk) {
            margin-top: 0;
        }
    }
}
